* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: rgb(29, 29, 29);
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
button {
  border: none;
  outline: none;
  cursor: pointer;
}
.hero-section {
  background-image: url("./img/hero-section.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}
.nav-logo {
  width: 130px;
}
.nav-logo > img {
  width: 100%;
}
.nav-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
.nav-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.nav-link > a {
  color: white;
  font-size: 1.5rem;
  font-family: "Bayon", serif;
  font-weight: 400;
  font-style: normal;
  filter: drop-shadow(0 0 2px black);
}
.nav-link {
  transition: transform 0.6s ease;
}
.nav-link:hover {
  transform: scale(1.2);
}
.nav-link:hover > a {
  color: orange;
}

.icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.button-download > button {
  padding: 8px 20px;
  background-color: transparent;
  border: 2px solid white;
  color: white;
  font-family: "Bayon", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
}
.icon {
  font-size: 1.8rem;
  color: white;
  cursor: pointer;
  position: relative;
}

.icon-list {
  width: 150px;
  position: absolute;
  right: 0;
  top: 70px;
  background-color: rgba(128, 128, 128, 0.5);
  display: none;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  overflow: hidden;
  padding: 0;
  z-index: 999;
  font-family: "Bayon", serif;
  font-weight: 400;
  font-style: normal;
}

.icon-list li {
  width: 100%;
  padding: 0;
  text-align: center;
  border-bottom: 1px solid white;
}

.icon-list li:last-child {
  border-bottom: none;
}

.icon-list a {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
  transition: 0.3s ease;
  display: block;
  width: 100%;
  height: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.icon-list li:hover a {
  background-color: rgba(0, 0, 0, 0.3);
  color: dodgerblue;
}

.hero-section-txt {
  font-weight: 100;
  letter-spacing: 2px;
  margin-left: 250px;
  margin-top: 70px;
  color: white;
}
.txt {
  font-family: "Bayon", serif;
  font-style: normal;
}
.txt > h6 {
  font-size: 1.5rem;
  letter-spacing: 0;
  font-weight: 200;
  filter: drop-shadow(0 0 3px black);
}
.txt > .heading-one {
  font-size: 4rem;
  margin-top: -20px;
  font-weight: 200;
  filter: drop-shadow(0 0 3px black);
}
.txt > .heading-two {
  font-size: 4rem;
  margin-top: -35px;
  font-weight: 200;
  filter: drop-shadow(0 0 3px black);
}
.btn-meet-koshka > button {
  padding: 10px 50px;
  border: 2px solid white;
  color: white;
  background-color: transparent;
  font-family: "Bayon", serif;
  font-style: normal;
  font-size: 1.2rem;
}
/* section update news */
.update-news {
  height: 100vh;
}
/* view all btn */
.view-all-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 30px;
  color: white;
}
.view-all-btn > h2 {
  font-family: "Bayon", serif;
  font-style: normal;
  font-weight: 200;
  font-size: 1.5rem;
}
.view-all-btn > button {
  padding: 10px 30px;
  font-family: "Bayon", serif;
  font-style: normal;
  font-weight: 200;
  background-color: transparent;
  color: white;
  border: 2px solid white;
  font-size: 1rem;
}
.img-and-news {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  height: 90%;
  /* padding: 10px 0px; */
}
/* img */
.saw {
  grid-column: 1 / 3;
  grid-row: 1 / 3;
  overflow: hidden;
  position: relative;
}
.petal {
  overflow: hidden;
  position: relative;
}
.ringo {
  overflow: hidden;
  position: relative;
}
.news {
  grid-row: span 2;
  overflow: hidden;
}
.saw > img {
  transform: scale(1.1);
}
.saw > img,
.petal > img,
.ringo > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: transform 0.6s ease;
}
.saw:hover > img,
.petal:hover > img,
.ringo:hover > img {
  transform: scale(1.2);
}

/* content in img */
.content {
  position: absolute;
  bottom: 10px;
  left: 10px;
  right: 10px;
  background: rgba(0, 0, 0, 0.3);
  padding: 10px 20px;
  font-family: "Bayon", serif;
  letter-spacing: 1px;
  font-weight: 100;
  /* font-size: 15px; */
}

.content h3 {
  margin: 0;
  font-size: 1.2em;
  color: #fff;
}

.content p {
  margin: 5px 0 0;
  font-size: 0.9em;
  color: #aaa;
}

.content a {
  color: orange;
  text-decoration: none;
  font-size: 0.9em;
  margin-top: 10px;
  display: inline-block;
}

/* news */
.news-list {
  padding: 0;
  background-color: rgb(29, 29, 29);
  font-family: "Bayon", serif;
  letter-spacing: 1px;
  font-weight: 100;
  font-size: 15px;
}

.news-list > li {
  padding: 20px;
  border-bottom: 1px solid #333;
  display: flex;
  flex-direction: column;
}

.news-list > li:hover {
  background-color: #333; /* Highlight on hover */
  cursor: pointer;
}
.news-list > li:hover > .title {
  color: orange;
}
.title {
  font-weight: bold;
  color: #fff;
}

.date {
  font-size: 0.9em;
  color: #888; /* Date text color */
  margin-top: 5px;
}

/* show hero section */

.show-hero {
  width: 100%;
  height: 100vh;
  background-image: url("./img/THE-JUNGLE-Shop.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-top: 50px;
}
.heading-txt {
  padding: 20px;
  text-align: center;
  font-family: "Bayon", serif;
  letter-spacing: 1px;
  font-weight: 100;
  color: white;
}
.heading-txt > h3 {
  font-size: 3rem;
}
.heading-txt > p {
  margin-top: -10px;
}
.heading-txt > button {
  padding: 5px 20px;
  border: 2px solid white;
  background-color: transparent;
  color: white;
  font-family: "Bayon", serif;
  letter-spacing: 1px;
  font-weight: 100;
  margin-top: 10px;
}
/* hero detail */
.showcase {
  width: 66%;
  margin: auto;
  position: relative;
}
/* Vainglory Hero Container */
.vainglory-hero-container {
  display: grid;
  grid-auto-flow: column;
  overflow-y: hidden;
  overflow-x: auto;
  gap: 50px;
  padding: 10px 0;
  align-items: center;
  justify-content: flex-start;
  scrollbar-width: none;
  scroll-snap-type: x mandatory;
  scroll-snap-align: start;
}

/* Hero Card */
.hero {
  width: 300px;
  height: 500px;
  background-color: rgba(128, 128, 128, 0.3);
  border-radius: 10px;
  padding: 0 5px;
  scroll-snap-align: start;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  z-index: 1000;
  cursor: pointer;
}

/* Skaarf Image */
.png > img {
  width: 110%;
  height: auto;
  object-fit: cover;
  margin: auto;
  transition: all 0.6s ease;
  transform: translateY(40px);
}

/* Hero detail */
.hero-detail {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  color: white;
  gap: 5px;
  visibility: hidden;
  opacity: 0;
  transition: transform 0.6s ease, visibility 0.6s ease, opacity 0.6s ease;
}

.hero-detail > h3 {
  font-size: 2rem;
  font-family: "Bayon", serif;
  letter-spacing: 1px;
}

.hero-detail > p {
  font-size: 1rem;
}

.card-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  opacity: 0;
}

.card-buttons > a {
  margin-top: 5px;
  color: orange;
}

.hero:hover > img,
.hero:hover > .hero-detail,
.hero:hover > .card-buttons {
  width: 100%;
  visibility: visible;
  opacity: 1;
  transform: translateY(-20px);
}

/* Arrow */
.arrow-click {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 2rem;
  color: white;
  position: absolute;
  top: 250px;
}

.left-arrow,
.right-arrow {
  cursor: pointer;
}

.left-arrow {
  position: absolute;
  right: 85px;
}

.right-arrow {
  position: absolute;
  left: 1070px;
}
/* last section */
.last-section {
  height: 100vh;
  margin-top: 10px;
}
.last-section-background {
  height: 70vh;
  background-image: url("./img/last-section-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  text-align: center;
}
.last-section-background > h2,
.last-section-background > p,
.last-section-background > button {
  position: absolute;
  color: white;
  font-family: "Bayon", serif;
  font-weight: 400;
  font-style: normal;
  filter: drop-shadow(0 0 5px black);
}
.last-section-background > h2 {
  font-size: 2.5rem;
  top: 100px;
}
.last-section-background > p {
  font-size: 1.2rem;
  top: 180px;
}
.last-section-background > button {
  font-size: 1rem;
  border: 2px solid white;
  padding: 10px 20px;
  background-color: transparent;
  top: 280px;
}
/* last section grid */

.last-section-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 30px;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
}
.last-section-grid > .guide,
.last-section-grid > .answer,
.last-section-grid > .help {
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  font-family: "Bayon", serif;
  font-weight: 400;
  font-style: normal;
}
.guide,
.answer {
  border-right: 2px solid white;
}
.guide > h2,
.answer > h2,
.help > h2 {
  font-size: 1.5rem;
}
.guide > button,
.answer > button,
.help > button {
  font-family: "Bayon", serif;
  font-weight: 400;
  font-style: normal;
  padding: 10px 30px;
  background-color: transparent;
  border: 2px solid white;
  color: white;
}
/* footer */
.footer {
  margin-top: 50px;
  height: 15vh;
  background-color: rgb(48, 46, 46);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
}
.footer-logo,
.footer-txt-container,
.goto-top {
  font-family: "Bayon", serif;
  font-weight: 400;
  font-style: normal;
  color: white;
}
.footer-logo {
  width: 100px;
}
.footer-logo > img {
  width: 100%;
  margin-top: 10px;
}
.footer-txt-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.footer-txt {
  margin-top: 30px;
}
.footer-link {
  display: flex;
  gap: 20px;
}
.footer-link > a {
  color: white;
}
.goto-top > a {
  color: dodgerblue;
}
.footer-link > a:nth-child(1) {
  color: orange;
}
/* btn hover */
button {
  transition: all 0.6s ease;
  cursor: pointer;
}
button:hover {
  background-color: white;
  color: black;
}
